@import './scss/partials';

// moves everything for the navbar
.main {
    margin-left: 12.5rem;
}

// Reset everything
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, monospace, serif;
}

// pfp icon
nav {
    height: 100%;
    width: 3.5rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(21, 109, 216);
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    .pfpicon {
        border-radius: 25rem;
        height: 3rem;
        width: 3rem;
        border: 0.1rem solid black;

    }
}

#all {
    margin-top: 1rem;

    #menu {
        height: 100%;
        width: 12.5rem;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 3rem;
        background-color: rgb(21, 109, 216);
        overflow-x: hidden;
        padding-top: 20px;
        display: flex;
        flex-direction: column;



        .img {
            border-radius: 25rem;
            height: 11rem;
            width: 11rem;
            border: 0.1rem solid black;
        }

        .name {
            font-family: $text-Font;
            color: $text-color;
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            font-weight: bold;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                list-style-type: none;
                font-size: 1.5rem;
                font-family: $text-Font;
            }
        }
    }

    B // texts

    p {
        font-family: $text-Font;
    }
}
